<ng-container *ngIf="loading" class="text-center mt-2">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
    <div >
        <div class="container px-5">
            <div class="row mt-3">
              <div >
                <button class="btn btn-outline-secondary" (click)="backToHomePage()">
                  <i class="fa fa-home mx-1" aria-hidden="true"></i>Back</button>
              </div>
              <div>
                <h1 class="p-0 py-5 c-black">{{ movieDetails?.title }}</h1>
              </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img [src]="movieDetails?.poster" alt="{{ movieDetails?.title }} Poster" />
                </div>
                <div class="col-10">
                    <strong class="c-black">Summary:</strong><span class="c-black text-align-justify"> {{ movieDetails?.summary }}</span>
                </div>
            </div>
            <br>
          
            <h3 class="text-center py-3 c-black">Details</h3>
            <table>
              <tbody>
                <tr>
                  <td scope="row">Box Office</td>
                  <td>{{ movieDetails?.box_office | budget }}</td>
                </tr>
                <tr>
                  <td scope="row">Budget</td>
                  <td>{{ movieDetails?.budget | budget }}</td>
                </tr>
                <tr>
                  <td scope="row">Duration</td>
                  <td>{{ movieDetails?.duration | duration }}</td>
                </tr>
                <tr>
                  <td scope="row">Producers</td>
                  <td>{{ movieDetails?.producers?.join(', ') }}</td>
                </tr>
                <tr>
                  <td scope="row">Cinematographers</td>
                  <td>{{ movieDetails?.cinematographers?.join(', ') }}</td>
                </tr>
                
              </tbody>
            </table>
        </div>        
    </div>
 </ng-container>

